<!DOCTYPE html>
<html>
<head>
<style>
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  color: #008CBA;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>

<div>
  <h1>Registeration Successful 	&#128077;</h1>
  <p>Thank you for registering with us ! We promise you deliver piping hot tasty food to your door stop ! login now and start ordering ! Welcome to the family 	&#128077;</p>
</div>

</body>
</html>
