<!DOCTYPE html>
<html lang="en">
<head>
  <title>Table Editor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.mybtn {
color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
width: 300px;
padding: 10px;
border: 4px solid #494949 !important;
display: inline-block;
}

.mybtn:hover {
color: #ffffff !important;
background: #696969;

}

.myinput{
border: 4px solid #494949 !important;
height: 40px;

}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: grey;
  color: #fff;
}
</style>


</head>
<body>

<div class="jumbotron">
  <center>
  <h1>Admin table editor</h1>      

</center>
</div>

 <!-- Draggable DIV -->
<div id="mydiv">
  <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
  <div id="mydivheader"> ToolBox </div>
  <input id="cid">
  <select id="conditional">
  <option value="=">=</option>
  <option value=">=">>=</option>
  <option value="<="><=</option>
  <option value=">">></option>
  <option value="<"><</option>
</select>
  <input id="did">
  <Br>
  <button id="delete" onclick="driver(this.id)" style="width: 100%">Delete</button>
  <button id="update" onclick="driver(this.id)" style="width: 100%">Update</button>
</div> 

<center>
  <p>Table Name</p>
<input style="width: 95%" class="myinput" name="tname" id="tname"></span>
<br>
<br>
</center>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4 text-center" style="background-color:lavender;">

      <div class="button_cont"><a class="mybtn" rel="nofollow noopener" onclick="driver(this.id)" id="showtable">Display tables</a></div>

    </div>
    <div class="col-sm-4 text-center" style="background-color:lavenderblush;">
      
<div class="button_cont"><a class="mybtn" rel="nofollow noopener" onclick="driver(this.id)" id="showstruct">Display structure</a></div>

    </div>
    <div class="col-sm-4 text-center" style="background-color:lavender;">
      <div class="button_cont"><a class="mybtn"  rel="nofollow noopener" onclick="driver(this.id)" id="showcontent">Display content</a></div>

    </div>
  </div>
</div>


</body></html>
<div id="place_for_suggestions"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
function driver(text){
  if(text === "showstruct" || text === "showcontent"){
    tname = document.getElementById('tname').value;
    text = text +":"+tname
  }
  if(text === "delete")
  {
    tname = document.getElementById('tname').value;
    did = document.getElementById('did').value;
    conditional = document.getElementById('conditional').value;
    cid = document.getElementById('cid').value;
    text = text + ":" + tname + ":" + cid + ":" + conditional + ":" + did;
  }
  if(text === "update")
  {
    tname = document.getElementById('tname').value;
    did = document.getElementById('did').value;
    conditional = document.getElementById('conditional').value;
    cid = document.getElementById('cid').value;
    scid = prompt("You have selected condition now select what column to update, keep it same if you wish to update the same column :", cid);
    val = prompt("Now enter the new value") 
    text = text + ":" + tname + ":" + cid + ":" + conditional + ":" + did + ":" + scid + ":" + val;

  }
    $.ajax({
      url: "/suggestions",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("#place_for_suggestions").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
  }
</script>
<script>
//Make the DIV element draggagle:
dragElement(document.getElementById("mydiv"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>